<div class="contentPanel clearfix">
    <div class="userOperate">
        <ul>
            <% var statusObj = {'create': '发布', 'update': '更新', 'fork': '拉取'}; %>
            <% records.forEach(function (record) { %>
            <li>
                <span class="userOperate_time"><%- record.created %></span>
                <a class="dy_user"><%- record.userName %></a>
                <%- statusObj[record.status] %>了代码 (<a href="/code/<%- record.codeID %>" target="_blank"><%- record.title %></a>)
            </li>
            <% }); %>
        </ul>
        <% if (false && records.length > 10) { %>
        <a href="javascript:;" id="getMore" style="">点击加载更多...</a>
        <% } %>
    </div>
    <% include help %>
</div>
